<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <!-- forme ici -->
            <form>
                <div class="fields">
                    <input type="text" name="name" class="input" placeholder="votre nom">
                </div>
                <div class="fields">
                    <input type="text" name="email" class="input" placeholder="votre email">
                </div>
                <div class="fields">
                    <input type="textarea" name="message" class="input" placeholder="votre message">
                </div>
                <button type="submit" class="button is-link is-rounded">Envoyer</button>
            </form>
        </div>
    </div>
</section>