<!-- logo -->
<nav class="navbar is-light">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="assets/img/500px.svg" alt=""/>
        </a>
    </div>
<!-- menu -->
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="">Home</a>
            <a class="navbar-item" routerLink="users">Users</a>
            <a class="navbar-item" routerLink="contact">Contact</a>
            <a class="navbar-item" routerLink="apropos">A propos</a>
            <a class="navbar-item" routerLink="panier">Panier</a>
            <a class="navbar-item" routerLink="product">Product</a>
        </div>
    </div>
</nav>

<!-- image is-120x120 -->